@model CreateClubModelView

@{
    ViewBag.Title = "Club";
    Layout = "_Layout";
}

<h2>Create</h2>
<div>
    @if (TempData["Error"] != null)
    {
        <p class="text-danger">@TempData["Error"]</p>
    }
</div>
<form method="post" asp-controller="Club" asp-action="Create" class="   w-75">
    <div class="col-md-6">
        <label for="name" class="form-label">Club Name</label>
        <input asp-for="Name" type="text" class="form-control" id="name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="desc" class="form-label">Club Description</label>
        <input asp-for="Desc" type="text" class="form-control" id="desc">
        <span asp-validation-for="Desc" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="land" class="form-label">Club Location</label>
        <input asp-for="Land" type="text" class="form-control" id="land">
        <span asp-validation-for="Land" class="text-danger"></span>
    </div>
    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
